<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Home</h1>

    <p>Please <a href="/sign-up">register</a></p>
    <p><a href="/login">Login</a></p>
  </body>
</html>
